* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F0F4F8;
    color: #333;
    display: flex;
    height: 100vh;
}

#sidebar {
    width: 250px;
    background-color: #007BA1;
    color: #FFF;
    padding: 20px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#checkboxContainer {
    margin-bottom: 20px;
}

#dateFilter {
    margin-bottom: 20px;
}

#resetButton {
    width: 100%;
    padding: 10px;
    background-color: #FFBF00;
    color: #007BA1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#content {
    margin-left: 270px;
    padding: 20px;
    text-align: center;
}

canvas {
    max-width: 100%;
    margin-bottom: 40px;
}
