/* Réinitialisation des marges et paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style global */
body {
    font-family: Arial, sans-serif;
    background-color: #BCEEFF;
    color: #333;
    display: flex;
}

/* Colonne noire sur le côté gauche */
#sidebar {
    width: 200px; 
    background-color: #007BA1;
    color: #FFF;
    padding: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#sidebar h2 {
    margin-bottom: 20px;
}

#checkboxContainer {
    margin-bottom: 20px;
}

#checkboxContainer label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Contenu principal */
#content {
    margin-left: 220px;
    padding: 20px;
}

/* Canvas */
canvas {
    background-color: #fff;
    border: 1px solid #ccc;
}